<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="https://github.com/DavidBriglio/cordova-ios10-simple-notification"
        id="cordova-ios10-simple-notification" version="1.0.0">
    <name>iOS 10 Local Notification</name>
    <author>David Briglio</author>
    <description>Cordova iOS 10 Simple Notification - Add simple local notifications to your iOS 10 application.</description>
    <license>MIT</license>
    <keywords>cordova,simple,local,ios10,notification,actions,alert</keywords>
    <js-module src="www/notification.js" name="notification">
        <clobbers target="cordova.plugins.ios10.simpleNotification" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SimpleNotification">
                <param name="ios-package" value="SimpleNotification"/>
            </feature>
        </config-file>
        <source-file src="src/ios/SimpleNotification.swift" />
    </platform>
</plugin>
